{% extends "base.html.twig" %}

{% block body %}
    <div class="container mt-4">
        <table id="driver" class="display">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Age</th>
                    <th>Mail</th>
                    <th>Marque de la voiture</th>
                    <th>Modèle de la voiture</th>
                    <th>Puissance de la voiture</th>
                </tr>
            </thead>
        </table>
        <table id="car" class="display">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Marque de la voiture</th>
                    <th>Modèle de la voiture</th>
                    <th>Puissance de la voiture</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Age</th>
                    <th>Mail</th>
                </tr>
            </thead>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#driver').DataTable({
                ajax: {
                    url: '{{ path('datatables_bdd_data_driver') }}',
                    dataSrc: 'dataDriver'
                }
            });
            $('#car').DataTable({
                ajax: {
                    url: '{{ path('datatables_bdd_data_car') }}',
                    dataSrc: 'dataCar'
                }
            });
        });
    </script>
{% endblock %}