{% extends 'base.html.twig' %}

{% block body %}
    <h1>Les voitures</h1>
    {% for driver in drivers %}
        <p>{{ driver.lastname ~ ' ' ~ driver.firstname ~ ' : ' ~ driver.car.brand ~ ' ' ~ driver.car.model }}</p>
    {% endfor %}
{% endblock %}