{% extends "base.html.twig" %}

{% block body %}
    <div class="container mt-4">
        <table id="example" class="display">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Salary</th>
                    <th>Office</th>
                </tr>
            </thead>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/datatables/datatablesObject.js') }}"></script>
{% endblock %}